.detail-view {
  width: 50%;
  height: 100%;
  padding: 10px;
  background-color: #df095e;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sprite-image {
  width: 90%;
  height: 175px;
  margin: 10px auto;
  background-color: #585858;
  border: 15px solid #DEDEDE;
  border-radius: 5px;
  color: #585858;
}

.data-wrapper {
  width: 90%;
  height: 150px;
  padding: 10px;
  margin: 0 auto;
  background-color: #585858;
  border-radius: 5px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.22);
  color: #FFF;
}

.data-name {
  margin: 0 0 5px;
}
.data-abil{
  position: relative; 
  top: 10px;
  font-weight: 500;
}

.data-char {
  font-size: 10px;
  position: relative; 
  top: 10px;
}

.data-test{
  font-size: 50px;
}

.normal{
  background-color:#A8A878;
  border:1px solid #C6C6A7;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}

.fighting{
  background-color:#C03028;
  border:1px solid #7D1F1A;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}

.flying{
  background-color:#A890F0;
  border:1px solid #6D5E9C;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}

.poison{
  background-color:#A040A0;
  border:1px solid #682A68;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}

.ground{
  background-color:#E0C068;
  border:1px solid #927D44;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}

.rock{
  background-color:#B8A038;
  border:1px solid #786824;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}

.bug{
  background-color:#A8B820;
  border:1px solid #6D7815;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}

.ghost{
  background-color:#705898;
  border:1px solid #493963;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}

.steel{
  background-color:#B8B8D0;
  border:1px solid #787887;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}


.fire{
  background-color:#F08030;
  border:1px solid #9C531F;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}

.water{
  background-color:#6890F0;
  border:1px solid #445E9C;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}

.grass{
  background-color:#78C850;
  border:1px solid #4E8234;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}

.electric{
  background-color:#F8D030;
  border:1px solid #A1871F;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}

.psychic{
  background-color:#F85888;
  border:1px solid #A13959;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}

.ice{
  background-color:#98D8D8;
  border:1px solid #638D8D;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}

.dragon{
  background-color:#7038F8;
  border:1px solid #4924A1;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}

.dark{
  background-color:#705848;
  border:1px solid #49392F;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}

.fairy{
  background-color:#EE99AC;
  border:1px solid #9B6470;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}

.blank{
  display: none;
}